@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    overscroll-behavior: none;
  }
  
  body {
    font-family: 'Instrument Sans', sans-serif;
    background-color: #cee3dd;
    font-size: 16px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Instrument Sans', sans-serif;
  }

  :root {
    --color-primary: rgb(105, 170, 152);
    --color-primary-hover: rgb(85, 150, 132);
  }
}
